# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java服务端\mainserver\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
